<!--The content below is only a placeholder and can be replaced.-->

<div class="d-flex flex-column flex-md-row align-self-start p-3 px-md-4 mb-3 bg-white border-bottom
  shadow-sm" style="margin: 0%;">
  <nav class="my-2 my-md-0 mr-md-3 rigth" style="margin-left: 15px;">
    <fa-icon [icon]="['fas', 'cocktail']"></fa-icon>
    <fa-icon [icon]="['fas', 'guitar']" style="margin-left: 10px;"></fa-icon>
    <fa-icon [icon]="['fas', 'film']" style="margin-left: 10px;"></fa-icon>
    <fa-icon [icon]="['fas', 'female']" style="margin-left: 10px;"></fa-icon>
    <fa-icon [icon]="['fas', 'pizza-slice']" style="margin-left: 10px;"></fa-icon>
    <a routerLink="/">
      <img src='../assets/logo.jpeg' width="24%" style="margin-left: 120px;">
    </a>
  </nav>
</div>

<router-outlet></router-outlet>
