<div class="container">
  <div class="row">
    <div class="col-6">
      <div class="card-deck">
        <div class="card shadow-sm">
          <div class="card-header">
            Recomendados:
            <h4 class="my-0 font-weight-normal text-center">Start Wars</h4>
          </div>
          <div class="card-body text-center" style="padding: 0%;">
            <img src="../assets/movie1.jpg" width="80%">
          </div>
        </div>
      </div>
    </div>
    <div class="col-6" style="padding: 0%;">
      <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-right">
        <img class="rounded-circle z-depth-2" alt="100x100" width="100%" [src]="url_avatar"
        data-holder-rendered="true">
        <div class="col-12 text-center" style="padding-top: 10px;">
          <p>Elô</p>
        </div>
        <a routerLink="/events">
          <button type="button" class="btn btn-md btn-block btn-primary col-12">
            Ver todos
          </button>
        </a>
      </div>
    </div>
  </div>
  <div class="col-12">
    <h4>Mais para você</h4>
    <div class="card-deck text-center">
      <div class="card shadow-sm">
        <div class="card-header">
          <h6 class="my-0 font-weight-normal">Vinícula Villa Prando</h6>
        </div>
        <div class="card-body" style="padding: 0%;">
          <img src="../assets/vine.png" width="80%">
          <h5 class="card-title pricing-card-title" style="color: green;">R$140</h5>
        </div>
      </div>
    </div>
  </div>
</div>